<h2>Записаться</h2>
<p>На этой странице Вы сможете записаться к нам на стрижку</p>
<form action="/visit" method="post">
  <div class="form-group">
    <label for="exampleInputName1">Ваше имя: </label>
    <input type="email" class="form-control" id="exampleInputName1" placeholder="Введите Ваше имя" name="user_name">
  </div>
  <button type="submit" class="btn btn-primary">Записаться!</button>
</form>